@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa.ttf");
}

@font-face {
  font-family: "Nannum_Pen";
  src: url("./assets/fonts/Nannum_Pen.ttf");
}

@font-face {
  font-family: "HIMelody-Regular";
  src: url("./assets/fonts/HIMelody-Regular.ttf");
}
